<form class="flexcol {{cssClasses}}" autocomplete="off">

    <!-- Token Configuration Tabs -->
    <nav class="sheet-tabs tabs" data-group="main">
        <a class="item" data-tab="character"><i class="fas fa-user"></i> {{localize "TOKEN.HeaderIdentity"}}</a>
        <a class="item" data-tab="appearance"><i class="fas fa-expand"></i> {{localize "TOKEN.HeaderAppearance"}}</a>
        <a class="item" data-tab="vision"><i class="fas fa-eye"></i> {{localize "TOKEN.HeaderVision"}}</a>
        <a class="item" data-tab="light"><i class="fas fa-lightbulb"></i> {{localize "TOKEN.HeaderLight"}}</a>
        <a class="item" data-tab="resources"><i class="fas fa-heart"></i> {{localize "TOKEN.HeaderResources"}}</a>
    </nav>

    <!-- Token Character -->
    <div class="tab" data-group="main" data-tab="character">
        <div class="form-group">
            <label>{{localize "TOKEN.CharNameplate"}}</label>
            <input type="text" name="name" placeholder="{{ localize 'Name' }}" value="{{object.name}}"/>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.CharShowNameplate"}}</label>
            <select name="displayName" data-dtype="Number">
                {{selectOptions displayModes selected=object.displayName }}
            </select>
        </div>

        {{#unless isPrototype}}
            <div class="form-group">
                <label>{{localize "TOKEN.CharActor"}}</label>
                <select class="actor-template" name="actorId">
                    {{#select object.actorId}}
                        <option value="">{{ localize "None" }}</option>
                        {{#each actors}}
                            <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        {{/unless}}

        <div class="form-group">
            <label>{{localize "TOKEN.CharLink"}}</label>
            <input type="checkbox" name="actorLink" {{checked object.actorLink}}/>
        </div>

        <div class="form-group slim">
            <label>{{localize "TOKEN.Coordinates"}} <span class="units">({{localize "Pixels"}})</span></label>
            <div class="form-fields">
                <label>X</label>
                {{numberInput object.x name="x" step=1 disabled=(not isGM) placeholder=(localize "Pixels")}}
                <label>Y</label>
                {{numberInput object.y name="y" step=1 disabled=(not isGM) placeholder=(localize "Pixels")}}
            </div>
        </div>

        <div class="form-group slim">
            <label>{{localize "Elevation"}} <span class="units">({{localize "Distance"}})</span></label>
            <div class="form-fields">
                {{numberInput object.elevation name="elevation" placeholder="units"}}
            </div>
        </div>

        <div class="form-group slim">
            <label>{{localize "Rotation"}} <span class="units">({{localize "Degrees"}})</span></label>
            <div class="form-fields">
                <label>{{localize "TOKEN.Lock"}}</label>
                <input type="checkbox" name="lockRotation" {{checked object.lockRotation}}/>
                <label>{{localize "Rotation"}}</label>
                <input type="number" name="rotation" value="{{object.rotation}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.Disposition"}}</label>
            <select name="disposition" data-dtype="Number">
                {{selectOptions dispositions selected=object.disposition }}
            </select>
        </div>
    </div>

    <!-- Token Image -->
    <div class="tab" data-group="main" data-tab="appearance">

        <fieldset class="appearance">
            <legend>{{localize "TOKEN.HeaderAppearance"}}</legend>
            <div class="form-group">
                <label>{{localize "TOKEN.ImagePath"}}</label>
                <div class="form-fields">
                    {{filePicker target="img" type="imagevideo"}}
                    <input class="image" type="text" name="img" placeholder="path/image.png" value="{{object.img}}"/>
                </div>
            </div>

            {{#if isPrototype}}
                <div class="form-group">
                    <label>{{localize "TOKEN.RandomImg"}}</label>
                    <input type="checkbox" name="randomImg" {{checked object.randomImg}}/>
                </div>
            {{else if hasAlternates}}
                <div class="form-group">
                    <label>{{localize "TOKEN.ImageAlts"}}</label>
                    <select class="alternate-images" name="alternateImages">
                        {{selectOptions alternateImages selected=object.img blank=""}}
                    </select>
                </div>
            {{/if}}
            <div class="form-group slim">
                <label>{{localize "TOKEN.Mirror"}}</label>
                <div class="form-fields">
                    <label>{{localize "TOKEN.MirrorX"}}</label>
                    <input type="checkbox" name="mirrorX" {{checked object.mirrorX}}/>
                    <label>{{localize "TOKEN.MirrorY"}}</label>
                    <input type="checkbox" name="mirrorY" {{checked object.mirrorY}}/>
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "TOKEN.TintColor" }}</label>
                <div class="form-fields">
                    {{ colorPicker name="tint" value=object.tint }}
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "TOKEN.Opacity"}}</label>
                <div class="form-fields">
                    {{ rangePicker name="alpha" value=object.alpha min="0" max="1" step="0.05" }}
                </div>
            </div>
        </fieldset>
        <fieldset class="size">
            <legend>{{localize "PF2E.Token.Size.Label"}}</legend>
            <div class="form-group">
                <label>{{localize "PF2E.Token.Size.LinkToActorSize.Label"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="flags.pf2e.linkToActorSize" data-dtype="Boolean" {{checked object.flags.pf2e.linkToActorSize}} />
                </div>
                <p class="hint">{{localize "PF2E.Token.Size.LinkToActorSize.Hint"}}</p>
            </div>
            <div class="form-group slim">
                <label>{{localize "TOKEN.Dimensions"}} <span class="units">({{localize "GridUnits"}})</span></label>
                <div class="form-fields">
                    <label class="dimension">{{localize "Width"}}</label>
                    <input type="number" step="0.1" name="width" placeholder="units" value="{{object.width}}"{{disabled object.flags.pf2e.linkToActorSize}} />
                    <label class="dimension">{{localize "Height"}}</label>
                    <input type="number" step="0.1" name="height" placeholder="units" value="{{object.height}}"{{disabled object.flags.pf2e.linkToActorSize}} />
                </div>
            </div>
            <div class="form-group scale">
                <label>{{localize "Scale"}} <span class="units">({{localize "Ratio"}})</span></label>
                <div class="form-fields">
                    {{rangePicker name="scale" value=object.scale min="0.2" max="3.0" step="0.1"}}
                </div>
            </div>
        </fieldset>
    </div>

    <!-- Vision -->
    {{> "templates/scene/parts/token-vision.html"}}

    <!-- Light -->
    {{> "templates/scene/parts/token-lighting.html"}}

    <!-- Resource Bars -->
    {{> "templates/scene/parts/token-resources.html"}}

    <!-- Token Sheet Footer -->
    <footer class="sheet-footer flexrow">
        {{#if isPrototype}}
            <button type="button" class="assign-token"><i class="fas fa-user"></i> {{localize "TOKEN.Assign"}}</button>
        {{/if}}
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "TOKEN.Update"}}</button>
    </footer>
</form>
