<div class="spell-browser">
    {{> systems/pf2e/templates/compendium-browser/filters.html filterData=filterData }}
    <ul class="item-list result-list">
        {{#each indexData as |item id|}}
            <li class="item flexrow" data-entry-compendium="{{item.compendium}}" data-entry-id="{{item._id}}" data-item-category="inventoryItems">
                <div class="image">
                    <img class="" src="{{item.img}}" title="{{item.name}}" width="32" height="32" loading="lazy"/>
                </div>
                <div class="name">
                    <a class="item-link">{{item.name}}</a>
                </div>
                <div class="rarity tags">
                    {{#unless (eq item.rarity "common")}}
                    <span class="tag {{item.rarity}}">
                        {{lookup (lookup ../filterData.checkboxes.rarity.options item.rarity) "label"}}
                    </span>
                    {{/unless}}
                </div>
                <div class="price" title="Item Price">
                    {{item.price}}
                </div>
                <div class="level">
                    <span title="Item level">{{item.level}}</span>
                </div>
                <a class="controls take-item" title="{{localize 'PF2E.CompendiumBrowser.TakeLabel'}}">
                    <i class="far fa-hand-rock"></i>
                </a>
            </li>
        {{/each}}
    </ul>

</div>
