<div class="dice-roll attack-roll strike">
    {{#if flavor}}<div class="dice-flavor">
        {{flavor}}
    </div>{{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
    </div>
</div>
<div class="message-buttons" data-visibility="owner" data-strike-index="{{strike.index}}" data-strike-name="{{strike.name}}">
    <button type="button" class="success" data-action="strike-damage">{{localize "PF2E.DamageLabel"}}</button>
    <button type="button" class="critical-success" data-action="strike-critical">{{localize "PF2E.CriticalDamageLabel"}}</button>
</div>
