&.character {
    h3 {
        margin-top: 0.75em;
        font-family: var(--serif);
        font-weight: 600;
        color: var(--primary);
        line-height: 1;
        border-bottom: 1px solid var(--primary);
    }
    select {
        width: calc(100% - 6px);
        background-color: var(--alt);
        border: 1px solid darken($alt-color, 8);
        &:disabled {
          cursor: initial;
        }
    }

    hr {
      margin: 10px 6px 10px 0;
    }

    .pc {
        h3 {
            grid-area: mod;
            border: none;
            @include p-reset;
            background-color: rgba($text-dark-color, 0.1);
            height: 26px;
            padding: 8px 4px 6px;
            color: var(--body);
            font-family: var(--body-serif);
            font-size: 14px;
            font-weight: 700;
            width: calc(100% - 6px);
            i {
              position: relative;
              right: -2px;
              top: -2px;
              float: right;
            }

            span.value {
              display: inline-block;
              max-width: 87%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
        }
    }

    .character-details {
        display: grid;
        grid:
            "img alignment deity" 46px
            "img details details" auto
            / 120px 120px 1fr;
        margin-top: 4px;

        .frame {
            grid-area: img;
            margin-left: 5px;
            z-index: 3;

            .player-image {
                object-fit: cover;
                object-position: top;
                border: none;
                border-radius: 0;
                max-height: 178px;
                width: 100%;
                cursor: pointer;
                @include brown-border;
            }
        }

        .alignment {
            grid-area: alignment;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url("../assets/sheet/banner-bg.webp") repeat-x center;
            z-index: 1;

            select {
                all: initial;
                color: var(--text-dark);
                display: block;
                cursor: pointer;
                font-family: var(--body-serif);
                line-height: 1;
                font-weight: 700;
                font-size: 14px;
                text-transform: capitalize;
                margin-top: 2px;
            }

            input[type="text"] {
                font-family: var(--body-serif);
                font-size: 14px;
                font-weight: 700;
                text-align: center;
                max-width: 138px;
            }
            &::after {
                position: absolute;
                content: "";
                height: 46px;
                width: 15px;
                top: 0;
                right: -11px;
                background: url("../assets/sheet/banner-bg2.webp") no-repeat
                    right;
            }
        }

        .pc_deity {
            align-items: center;
            display: flex;
            grid-area: deity;
            justify-content: end;
            padding-bottom: 0.7em;

            .input {
                display: flex;
                flex-basis: 55%;
                flex-wrap: wrap;
                justify-content: end;
            }

            img.symbol {
                @include brown-border;
                border-radius: 50%;
                height: 32px;
                margin: 0.5rem 0 0 0.5rem;
                width: 32px;
            }
        }

        .detail-sheet {
            grid-area: details;
            display: grid;
            grid-template-columns: 44% 55%;
            grid-template-rows: repeat(2, 42px);
            grid-row-gap: 8px;
            padding-left: 12px;
            margin-top: 8px;

            .pc {
                &_heritage, &_background, &_weight {
                    margin: 0;
                }
            }
            .detail-small {
                display: flex;
            }
        }
    }

    .character-background {
        display: flex;
        flex-wrap: wrap;

        .pc {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex: 20%;
            margin-bottom: 8px;

            span {
              width: 100%;
            }

            &_ethnicity,
            &_nationality {
              flex: 50%;
              margin-bottom: 0;
            }
        }
    }

    .character-traits {
        display: flex;
        flex-wrap: wrap;

        .tags {
            width: 100%;
        }

        .pc {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex: 20%;
            margin-bottom: 8px;

            span {
                width: 100%;
            }

            span.speed {
                * {
                    width: 50%;
                }
            }

            &_land-speed,
            &_size,
            &_key-ability {
                flex: 30%;
            }

            &_speed-types {
                flex: 50%;
            }

            &_senses {
                flex: 50%;
            }

            &_languages {
                flex: 50%;
                margin-bottom: 0;
            }
            &_traits {
                flex: 50%;
                margin-bottom: 0;
            }
            &_bonus-bulk {
              flex: 1 20%;

              &.encumbered {
                  margin-right: 7px;
              }
            }

            label,
            h4 {
                margin: 0;
                white-space: nowrap;
            }

            .tags {
                margin: 0;
                padding: 0;
            }

            .tags,
            select,
            input,
            h3 {
                margin-top: 4px;
            }
        }
    }

    .ability-scores {
        @include p-reset;
        display: grid;
        grid: repeat(2, 1fr) / repeat(3, 1fr);
        justify-content: center;
        list-style: none;
        gap: 12px;

        .ability {
            display: grid;
            grid:
                ". label label" auto
                "prefix score mod" 1fr
                / 1fr 1fr 1fr;
            column-gap: 10px;
            align-items: center;
            &:focus-within {
                .ability-id {
                    filter: opacity(1);
                }
            }

            .ability-name {
                grid-area: label;
                margin: 0;
            }
            .ability-id {
                filter: opacity(0.5);
                text-transform: capitalize;
                grid-area: prefix;
                font: 500 1.75rem var(--serif);
                color: var(--primary);
                text-align: right;
                @include p-reset;
                border: none;
            }
            .ability-score {
                grid-area: score;
                border-radius: 0;
                font-size: 0;
                border: 1px solid var(--alt);
                input {
                    font-size: 24px;
                    border: none;
                    text-align: center;
                    padding: 0;
                }
            }
            .ability-mod {
                grid-area: mod;
                border: none;
                background-color: rgba($text-dark-color, 0.1);
                font-family: var(--serif);
                font-weight: 700;
                @include p-reset;
            }

            .ability-mod,
            .ability-score,
            .ability-score input {
                height: 40px;
                width: 40px;
                @include flex-center;
            }
        }
    }
}
