<div class="tab feats feats-pane" data-group="primary" data-tab="feats">
    <ol class="actions-list directory-list item-list">
        {{#each actor.featSlots as |section sid|}}
            <li class="action-header stroke-header" {{#unless section.slotted}}data-slot-id="{{sid}}" data-feat-type="{{sid}}"{{/unless}}>
                {{> systems/pf2e/templates/actors/partials/images/header_stroke.html}}
                <h3 class="feat-name">{{localize section.label}}</h3>
                <div class="item-controls">
                    {{#if @root.editable}}
                        <a class="item-control feat-browse" title="{{localize "PF2E.OpenFeatBrowserTitle"}}" data-type="feat" data-filter="feattype-{{sid}},{{section.featFilter}}"><i class="fas fa-search"></i></a>
                    {{/if}}
                </div>
            </li>
            {{#each section.feats as |featSlot fid|}}
                {{#if featSlot.feat}}
                    <li class="item feat-item" data-item-id="{{featSlot.feat._id}}" data-slot-id="{{featSlot.id}}" data-feat-type="{{sid}}">
                        <div class="item-name rollable">
                            <div class="feat-slot-title">
                                {{#if section.slotted}}
                                    {{featSlot.level}}
                                {{else}}
                                    {{#if featSlot.feat.data.level.value}}{{featSlot.feat.data.level.value}}{{/if}}
                                {{/if}}
                            </div>
                            <img class="item-image" src="{{featSlot.feat.img}}" alt="{{featSlot.feat.name}}">
                            <h4>{{featSlot.feat.name}}</h4>
                        </div>
                        <div class="item-controls">
                            {{#if @root.editable}}
                                <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                            {{/if}}
                        </div>
                        {{> "systems/pf2e/templates/actors/character/partials/granted-feat.html" feat=featSlot}}
                    </li>
                {{else}}
                    <li class="item feat-item" data-slot-id="{{featSlot.id}}" data-feat-type="{{sid}}">
                        <div class="item-name">
                            <div class="feat-slot-title">{{featSlot.level}}</div>
                            <div class="item-placeholder">{{localize "PF2E.EmptySlot"}}</div>
                        </div>
                        <div class="item-controls">
                            {{#if @root.editable}}
                                <a class="item-control feat-browse" data-filter="feattype-{{sid}},{{section.featFilter}}", data-level="{{featSlot.level}}"><i class="fas fa-plus-circle"></i></a>
                            {{/if}}
                        </div>
                    </li>
                {{/if}}
            {{/each}}
        {{/each}}
    </ol>
</div>
