<div class="tab spellcasting spellbook-pane" data-group="primary" data-tab="spellcasting">
    <ol class="spellcastingEntry-list directory-list item-list">
        {{#each spellcastingEntries as |entry eid|}}
            <li class="item item-container spellcasting-entry" data-container-type="spellcastingEntry" data-item-id="{{entry._id}}" data-container-id="{{entry._id}}">
                <div class="action-header">
                    {{#if entry.isPrepared}}
                        <a class="skill-name prepared-toggle" title="{{localize "PF2E.ToggleSpellVisibilityTitle"}}"><i class="fas {{#if entry.data.showUnpreparedSpells.value}}fa-book-open{{else}}fa-book{{/if}}"></i></a>
                    {{/if}}

                {{#if (or entry.isPrepared entry.isSpontaneous entry.isInnate)}}
                <a class="skill-name slotless-level-toggle" title="{{localize "PF2E.ToggleSlotlessSpellLevelsTitle"}}">
                    <i class="{{#if entry.data.showSlotlessLevels.value}}fas{{else}}far{{/if}} fa-list-alt"></i>
                </a>
                {{/if}}

                    <h3 class="item-name">
                        <input type="text" data-item-id="{{entry.id}}" data-item-property="name" class="item-name-input" value="{{entry.name}}" />
                    </h3>
                    {{#if @root.options.editable}}
                        <div class="item-controls">
                            {{#unless entry.isRitual}}
                                <a class="item-control" data-action="spellcasting-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                            {{/unless}}
                            <a class="item-control" data-action="spellcasting-remove" title="{{localize "PF2E.RemoveSpellcastingEntryTitle"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    {{/if}}
                </div>

                {{#unless entry.isRitual}}
                    <ol class="skills-list spell-dc">
                        <li class="skill-grid">
                            <div class="skill-data spell-attack" title="{{entry.statistic.check.breakdown}}">
                                <span class="skill-score">{{numberFormat entry.statistic.check.mod decimals=0 sign=true}}</span>
                                <h4 class="skill-name">{{localize "PF2E.SpellAttackLabel"}}</h4>
                            </div>

                            <div class="skill-data" title="{{entry.statistic.dc.breakdown}}">
                                <span class="skill-score spellcasting">{{entry.statistic.dc.value}}</span>
                                <h4 class="skill-name spellcasting">{{localize "PF2E.SpellSaveLabel"}}</h4>
                            </div>

                            {{#if entry.isFocusPool}}
                            <div class="skill-container focus-pool">
                                <img class="pool-size" src="systems/pf2e/assets/sheet/circle.svg" />
                                <span class="skill-item focus-pool-text" title="{{localize "PF2E.Focus.poolTitle"}}">
                                    <h4 class="skill-item">{{localize "PF2E.Focus.poolLabel"}}</h4>
                                    <span class="focus-pool-max">
                                        {{#if @root.data.resources.focus.max}}
                                            {{@root.data.resources.focus.max}}
                                        {{else}}
                                            0
                                        {{/if}}
                                    </span>
                                </span>
                            </div>
                            {{/if}}
                        </li>
                        <li class="spell-ability">
                            <span class="spell-tradition">{{localize (lookup @root.magicTraditions entry.tradition)}}</span>
                            <div class="spellcasting-prof button-group skill-container">
                                <select class="skill-proficiency pf-rank adjust-item-stat-select" data-item-property="data.proficiency.value" value="{{entry.data.proficiency.value}}">
                                    {{> systems/pf2e/templates/actors/character/partials/proficiencylevels-dropdown.html excludeUntrained=true proflevel=entry.data.proficiency.value}}
                                </select>
                            </div>
                        </li>
                    </ol>
                {{/unless}}

                {{> systems/pf2e/templates/actors/spellcasting-spell-list.html entry=entry focusStyle="pips"}}
            </li>
        {{/each}}

        {{#if @root.owner}}
            <li class="item spellbook-empty">
                <div class="item-controls pf-add-item-row">
                    <a class="item-control" data-action="spellcasting-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell" data-level="{{lvl}}">
                        <i class="fas fa-plus"></i>{{localize "PF2E.AddSpellcastingEntryTitle"}}
                    </a>
                </div>
            </li>
        {{/if}}
    </ol>

</div>
